/* CSS Stylesheet */

/* Global Styles: subject to change */

body {
     /* Colors */
     background-color: black;
     color: chartreuse;

     /* Fonts */
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     font-size: 16px;
     font-weight: 500;
}